[Desktop Entry]
Encoding=UTF-8
Name=SliTaz bug report
Name[fr]=Rapport de bug SliTaz
Name[ru]=Баг-репорт SliTaz
Exec=tazbug-box
Icon=slitaz-icon
Type=Application
Categories=Application;Network;
